.container {
  display: grid;
  place-items: center;
  overflow: hidden; /* Запретить родительскому контейнеру прокручиваться */
}

.container_actions {
    display: flex;
    justify-content: end;
    width: 100%;
}

.scrollable-content {
  max-height: 40vh; /* Максимальная высота контента в процентах от высоты окна */
  overflow-y: auto; /* Включает горизонтальную прокрутку */
  scrollbar-width: none; /* Скрывает скроллбар */
  border: 1px solid #ccc;
}

.drills-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.drills-table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-bar {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .drills-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  }

  .drills-table th,
  .drills-table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
  }

  .drills-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  .drills-table tbody tr:nth-child(odd) {
    background-color: #fafafa;
  }

  /* Переключаем столбцы местами для удобства просмотра на маленьких экранах */
  .drills-table td,
  .drills-table th {
    display: block;
  }

  .drills-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 10em;
    white-space: nowrap;
  }

  .drills-table td:not(:first-child)::before {
    content: none;
  }

  .drills-table th div {
    display: inline-block;
    max-width: calc(100vw - 16px); /* Adjust max-width for mobile screens */
    overflow-x: scroll;
  }
}