.dark-theme .ant-table {
  border: 1px solid #444;
  box-shadow: none;
  color: #fff;
  background-color: #222;
}

.dark-theme .ant-table-thead > tr > th {
  background-color: #333;
  border-bottom: 1px solid #444;
  font-weight: 700;
  color: #ccc;
}

.dark-theme .ant-table-column-sorted {
  background-color: #666;
}

.dark-theme .ant-table-tbody > tr > td {
  background-color: #2b2b2b;
  border-bottom: 1px solid #444;
}

.dark-theme .ant-table-tbody > tr:hover > td {
  background-color: #333;
}

.light-theme .ant-table {
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  background-color: #fff;
}

.light-theme .ant-table-thead > tr > th {
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  color: #666;
}

.light-theme .ant-table-tbody > tr > td {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.light-theme .ant-table-tbody > tr:hover > td {
  background-color: #fafafa;
}

.light-theme .ant-table-row-expand-icon {
  margin-left: auto;
  cursor: pointer;
}

.dark-theme .ant-table-tbody > tr.ant-table-row:hover > td,
.dark-theme .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: transparent;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: inherit;
}

/* фильтр по диаметру */

.light-theme .ant-drawer-body {
  background-color: #fff;
  color: #333;
}

.light-theme .ant-drawer-title {
  color: #000;
}

.light-theme .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffbe00;
  border-color: #ffbe00;
}

.light-theme .ant-checkbox-input:focus + .ant-checkbox-inner {
  box-shadow: 0 0 0 3px rgba(255, 190, 0, 0.2);
}

.light-theme .ant-btn {
  color: #000;
}

.light-theme .ant-btn:disabled {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #ccc;
}

.light-theme .ant-btn-primary[disabled] {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #ccc;
}

.light-theme .ant-btn-primary[disabled]:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #ccc;
}

.dark-theme .ant-drawer-body {
  background-color: #222;
  color: #fff; 
}

.dark-theme .ant-drawer-title {
  color: #fff;
}

.dark-theme .ant-checkbox-group * {
  color: #fff;
}

.dark-theme .ant-checkbox-input:focus + .ant-checkbox-inner {
  box-shadow: 0 0 0 3px rgba(255, 190, 0, 0.2);
}

/* Синие кнопки */
.dark-theme .ant-btn {
  background-color: #007bff; /* Ваш синий цвет */
  border-color: #007bff;
  color: #fff;
}

.dark-theme .ant-btn:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

.dark-theme .ant-btn:active {
  background-color: #0069d9;
  border-color: #0069d9;
}

.dark-theme .ant-btn:disabled {
  background-color: #444;
  border-color: #444;
  color: #ccc;
}

.dark-theme .ant-btn-primary:not([disabled]):hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.dark-theme .ant-btn-primary:not([disabled]).active {
  background-color: #0062cc;
  border-color: #0062cc;
}

.dark-theme .ant-btn-primary:not([disabled]).active:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.dark-theme .ant-btn-primary[disabled] {
  background-color: #444;
  border-color: #444;
  color: #ccc;
}

.dark-theme .ant-btn-primary[disabled]:hover {
  background-color: #444;
  border-color: #444;
  color: #ccc;
}

.dark-theme .ant-drawer-header {
  background-color: #444;
}

/* Стилизация формы */

.light-theme .ant-input {
  background-color: #fff;
  color: #333;
}

.light-theme .ant-input::placeholder {
  color: #aaa;
}

.light-theme .ant-select-selection {
  background-color: #fff;
  color: #333;
}

.light-theme .ant-form-item-control-input {
  background-color: #fff;
  color: #333;
}

.dark-theme .ant-form-item-label.css-dev-only-do-not-override-ccdg5a > label {
  color: #fff;
}

.light-theme .ant-form-item-required:after {
  content: "*";
  color: red;
}

.light-theme .ant-btn-primary {
  background-color: #008CBA;
  color: #fff;
}

.light-theme .ant-btn-primary:hover {
  background-color: #007eb9;
  color: #fff;
}

.dark-theme .ant-input {
  background-color: #222;
  color: #fff;
}

.dark-theme .ant-input::placeholder {
  color: #ccc;
}

.dark-theme .ant-select-selection {
  background-color: #222;
  color: #fff;
}

.dark-theme .ant-form-item-control-input {
  background-color: #222;
  color: #fff;
}

.dark-theme .ant-form-item-label {
  color: #ccc;
}

.dark-theme .ant-form-item-required:after {
  content: "*";
  color: #ccc;
}

.dark-theme .ant-btn-primary {
  background-color: #448eff;
  color: #fff;
}

.dark-theme .ant-btn-primary:hover {
  background-color: #3e83df;
  color: #fff;
}

/* Модальное окно добавления сверла */

.light-theme .ant-modal-content {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.light-theme .ant-modal-header {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  color: #666;
}

.light-theme .ant-modal-title {
  color: #666;
}

.light-theme .ant-modal-close {
  color: #999;
}

.light-theme .ant-modal-content {
  padding: 24px;
}

.light-theme .ant-modal-footer {
  border-top: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.light-theme .ant-modal-confirm {
  background-color: #008CBA;
  color: #fff;
}

.light-theme .ant-modal-confirm:hover {
  background-color: #007eb9;
  color: #fff;
}

.dark-theme .ant-modal-content {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

.dark-theme .ant-modal-header {
  background-color: #222;
  border-bottom: 1px solid #444;
  color: #ccc;
}

.dark-theme .ant-modal-title {
  color: #ccc;
}

.dark-theme .ant-modal-close {
  color: #ccc;
}

.dark-theme .ant-modal-content {
  padding: 24px;
}

.dark-theme .ant-modal-footer {
  border-top: 1px solid #444;
  background-color: #333;
}

.dark-theme .ant-modal-confirm {
  background-color: #448eff;
  color: #fff;
}

.dark-theme .ant-modal-confirm:hover {
  background-color: #3e83df;
  color: #fff;
}
